.c-list-phrases-answed {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.c-list-phrases-answed__id {
  width: 8%;
  height: 180px;
  align-items: center;
  justify-content: center;
}

.c-list-phrases-answed__data {
  margin-left: 16px;
  width: 100%;
}

.c-list-phrases-answed__cards {
  margin-bottom: 6px;
}

.c-list-phrases-answed__cards--verbal--time {
  display: flex;
  justify-content: space-between;
}

.cards--verbal--time {
  min-width: 49%;
}
