.c-list-phrases-answed {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.c-list-phrases-answed__id {
  width: 8%;
  height: 180px;
  align-items: center;
  justify-content: center;
}

.c-list-phrases-answed__data {
  margin-left: 16px;
  width: 100%;
}

.c-list-phrases-answed__cards {
  margin-bottom: 6px;
}

.c-list-phrases-answed__card__phrase__answed {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    gap: 8px;

    button {
      height: 20px;
      width: 20px;
    }
  }
}

.c-list-phrases-answed__back__phrase {
  display: flex;
  justify-content: end;
  margin-bottom: 28px;
}
